OPENAI_API_KEY = "Your OpenAI API Key here"

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="Your LangSmith API Key here"
LANGSMITH_PROJECT="Your LangSmith Project here"

DATABASE_HOST = "Your ArangoDB host here"
DATABASE_USERNAME = "Your ArangoDB user"
DATABASE_PASSWORD = "Your ArangoDB password"
DATABASE_NAME = "Your ArangoDB database name"
